@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

/* navbar */
.navbar {
    transition: all 0.4s;
    background-image: url(images/bg_2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

/* Change navbar styling on small viewports */
@media (max-width: 768px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

/* background image headline */
.img-background {
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* center image */
.img-big {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.table .td {
    width:auto;
    columns: 2;
}

/* list icon check*/
.check {
    list-style-type: none;
    background-image: url(https://cdn-icons-png.flaticon.com/512/443/443138.png);
    background-repeat:repeat-y;
    background-position: left;
    background-size:3%
}

@media(min-with:768px) {
    .table {
        flex-direction: column;
    }
    .td {
        order:0;
        width: auto;
    }
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
}