@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.intro-section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width:768px) {
    .home-section {
        height: 100vh;
    }
}

/* navbar */
.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 768px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

.icon-font-size {
    font-size: 80px;
}

.result {
    height: 50vh;
    background-image: url(../images/bg_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.img-thumbnail {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: 0px;
    padding: 0px;
    border-radius: 0px;
}

.card {
    border: 0px;
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.16);
}

#pills-tab {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

#pills-tab li {
    flex: 0 0 33.3%;
    text-align: center;
}

.nav-link.active {
    background-color: deeppink;
    color:white;
}

.nav-link {
    background-color: lightgrey;
    color:deeppink
}

.display-4 {
    font-weight: bolder;
    font-size: 60px;
    color:white;
}

.lead {
    color:white;
    font-size: 26px;
}

.get-started-btn{
    padding: 20px 10px;
}

.jumbotron {
    background-color: grey;
}

.glyph-icon {
    color:deeppink;
}

.vegetables {
    color: deeppink;
    size: small;
}

.row p text {
    margin-bottom: 100px;
}

.images {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    height:auto;
    width: 25%;
}

.row h3 {
    height:fit-content;
    font-size:large;
}

.row p Trainer {
    color: grey;
    font-size: small;
}

.background-result {
    background-image: image(images/bg_2);
}

/* Contact Form */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    text-align: left;
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: deeppink;
    color: white;
    padding: 12px 20px;
    border: none;
    /*border-radius: 4px;*/
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}
  
  /* Add a background color and some padding around the form */
.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.pt-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pt-80 h2 {
    color: deeppink;
    font-weight: bold;
    font-size: 35px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 20px;
}

.copyright {
    margin-bottom: 80px
}